parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between DOMNodeList and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/lib/RichText/TextExtractor/FullTextExtractor.php
