parameters:
    ibexa.field_type.richtext.tag.namespace: fieldtypes.ezrichtext.tags
    ibexa.field_type.richtext.style.namespace: fieldtypes.ezrichtext.styles
    ibexa.field_type.richtext.embed.namespace: fieldtypes.ezrichtext.embed
    ibexa.field_type.richtext.resources: '%kernel.project_dir%/vendor/ibexa/fieldtype-richtext/src/bundle/Resources/richtext'

    ibexa.field_type.richtext.converter.input.xhtml5.resources: '%ibexa.field_type.richtext.resources%/stylesheets/xhtml5/edit/docbook.xsl'
    ibexa.field_type.richtext.converter.edit.xhtml5.resources: '%ibexa.field_type.richtext.resources%/stylesheets/docbook/xhtml5/edit/xhtml5.xsl'
    ibexa.field_type.richtext.converter.output.xhtml5.resources: '%ibexa.field_type.richtext.resources%/stylesheets/docbook/xhtml5/output/xhtml5.xsl'
    ibexa.field_type.richtext.converter.output.xhtml5.fragment.resources: '%ibexa.field_type.richtext.resources%/stylesheets/xhtml5/output/fragment.xsl'

    ibexa.field_type.richtext.validator.docbook.resources:
        - '%ibexa.field_type.richtext.resources%/schemas/docbook/ezpublish.rng'
        - '%ibexa.field_type.richtext.resources%/schemas/docbook/docbook.iso.sch.xsl'
    ibexa.field_type.richtext.validator.output.xhtml5.resources:
        - '%ibexa.field_type.richtext.resources%/schemas/ezxhtml5/output/ezxhtml5.xsd'

services:
    Ibexa\FieldTypeRichText\RichText\Normalizer\DocumentTypeDefinition:
        class: Ibexa\FieldTypeRichText\RichText\Normalizer\DocumentTypeDefinition
        arguments:
            - 'section'
            - 'http://ibexa.co/namespaces/ezpublish5/xhtml5/edit'
            - '%ibexa.field_type.richtext.resources%/dtd/ezxhtml5_edit_html_character_entities.dtd'

    Ibexa\FieldTypeRichText\RichText\ConverterDispatcher:
        class: Ibexa\FieldTypeRichText\RichText\ConverterDispatcher
        arguments:
            -
                http://docbook.org/ns/docbook: null
                http://ibexa.co/namespaces/ezpublish5/xhtml5/edit: '@ibexa.richtext.converter.input.xhtml5'

    Ibexa\FieldTypeRichText\RichText\Renderer:
        class: Ibexa\FieldTypeRichText\RichText\Renderer
        arguments:
            - '@ibexa.api.repository'
            - '@security.authorization_checker'
            - '@ibexa.config.resolver'
            - '@twig'
            - '%ibexa.field_type.richtext.tag.namespace%'
            - '%ibexa.field_type.richtext.style.namespace%'
            - '%ibexa.field_type.richtext.embed.namespace%'
            - '@?logger'
            - '%ibexa.field_type.richtext.custom_tags%'
            - '%ibexa.field_type.richtext.custom_styles%'

    Ibexa\FieldTypeRichText\RichText\Converter\Link:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Link
        arguments:
            - '@ibexa.api.service.location'
            - '@ibexa.api.service.content'
            - '@router'
            - '@?logger'
        tags:
            - {name: ibexa.field_type.richtext.converter.output.xhtml5, priority: 0}

    Ibexa\FieldTypeRichText\RichText\Converter\Render\Template:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Render\Template
        arguments:
            - '@Ibexa\FieldTypeRichText\RichText\Renderer'
            - '@ibexa.richtext.converter.output.xhtml5'
            - '@?logger'
        tags:
            - {name: ibexa.field_type.richtext.converter.output.xhtml5, priority: 10}
        lazy: true

    Ibexa\FieldTypeRichText\RichText\Converter\Render\Embed:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Render\Embed
        arguments:
            - '@Ibexa\FieldTypeRichText\RichText\Renderer'
            - '@?logger'
        tags:
            - {name: ibexa.field_type.richtext.converter.output.xhtml5, priority: 10}

    # Note: should typically be the last one as it produces embeddable fragment
    Ibexa\FieldTypeRichText\RichText\Converter\Xslt:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Xslt
        arguments: ['%ibexa.field_type.richtext.converter.output.xhtml5.fragment.resources%']
        tags:
            - {name: ibexa.field_type.richtext.converter.output.xhtml5, priority: 100}

    # Aggregate converter for XHTML5 output that other converters register to
    # through service tags.
    ibexa.richtext.converter.output.xhtml5:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Aggregate
        lazy: true

    Ibexa\FieldTypeRichText\RichText\Validator\ValidatorAggregate:
        class: Ibexa\FieldTypeRichText\RichText\Validator\ValidatorAggregate
        arguments: [!tagged ibexa.field_type.richtext.validator.input.xhtml5]

    ibexa.richtext.validator.docbook:
        class: Ibexa\FieldTypeRichText\RichText\Validator\Validator
        arguments: ['%ibexa.field_type.richtext.validator.docbook.resources%']
        tags:
            - { name: ibexa.field_type.richtext.validator.input.xhtml5 }

    ibexa.richtext.validator.output.ezxhtml5:
        class: Ibexa\FieldTypeRichText\RichText\Validator\Validator
        arguments: ['%ibexa.field_type.richtext.validator.output.xhtml5.resources%']

    Ibexa\FieldTypeRichText\RichText\Validator\ValidatorDispatcher:
        class: Ibexa\FieldTypeRichText\RichText\Validator\ValidatorDispatcher
        arguments:
            -
                http://docbook.org/ns/docbook: null
                http://ibexa.co/namespaces/ezpublish5/xhtml5/edit: null
                http://ibexa.co/namespaces/ezpublish5/xhtml5: '@ibexa.richtext.validator.output.ezxhtml5'

    Ibexa\FieldTypeRichText\RichText\Validator\InternalLinkValidator:
        class: Ibexa\FieldTypeRichText\RichText\Validator\InternalLinkValidator
        arguments:
            - '@Ibexa\Core\Persistence\Cache\ContentHandler'
            - '@Ibexa\Core\Persistence\Cache\LocationHandler'
        tags:
            - { name: ibexa.field_type.richtext.validator.input.xhtml5 }

    Ibexa\FieldTypeRichText\RichText\Converter\Html5:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Html5
        arguments:
            - '%ibexa.field_type.richtext.converter.output.xhtml5.resources%'
            - '@ibexa.config.resolver'
        tags:
            - {name: ibexa.field_type.richtext.converter.output.xhtml5, priority: 50}

    # Aggregate converter for XHTML5 input that other converters register to
    # through 'ibexa.field_type.richtext.converter.input.xhtml5' service tag.
    ibexa.richtext.converter.input.xhtml5:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Aggregate
        lazy: true

    Ibexa\FieldTypeRichText\RichText\Converter\Html5Input:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Html5Input
        arguments:
            - '%ibexa.field_type.richtext.converter.input.xhtml5.resources%'
            - '@ibexa.config.resolver'
        tags:
            - {name: ibexa.field_type.richtext.converter.input.xhtml5, priority: 50}

    # Note: should run before xsl transformation
    Ibexa\FieldTypeRichText\RichText\Converter\ProgramListing:
        class: Ibexa\FieldTypeRichText\RichText\Converter\ProgramListing
        tags:
            - {name: ibexa.field_type.richtext.converter.input.xhtml5, priority: 10}

    # Note: should run before xsl transformation
    Ibexa\FieldTypeRichText\RichText\Converter\Figure:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Figure
        tags:
            - {name: ibexa.field_type.richtext.converter.input.xhtml5, priority: 10}

    Ibexa\FieldTypeRichText\RichText\Converter\Html5Edit:
        class: Ibexa\FieldTypeRichText\RichText\Converter\Html5Edit
        arguments:
            - '%ibexa.field_type.richtext.converter.edit.xhtml5.resources%'
            - '@ibexa.config.resolver'
